.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #FF4547;
}

table {
  color: #2E0C4B;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #FFF88E;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}